streamlit==1.39.0

openai==1.51.2
tiktoken==0.8.0

langchain==0.3.3
langchain-community==0.3.2
langchain-core==0.3.10
langchain-openai==0.2.2
langchain-text-splitters==0.3.0
langsmith==0.1.132

chromadb==0.5.12
chroma-hnswlib==0.7.6

pysqlite3-binary
numpy==1.26.4
requests==2.32.3